.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 100px;
  background-color: rgb(0, 0, 0);
  
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border:none;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(255, 145, 0);
}

.title{
  font-size: 5rem;
  color: #0077ff;;
  margin-bottom: 10px;
}
.subheader { 
  text-align: center;
  font-size: 50px;
  
  padding: 20px;
  

 
  
  
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
